.sol-wrapper .form-item
  //min-width: 250px

body .views-exposed-form
  .sol-compact
    position: relative
    //padding-top: 0
    //max-width: 200px
    padding: 0
    width: 200px
    border: 1px solid black
    border-radius: 4px

    &.sol-open
      border-radius: 10px 10px 0 0 !important
      border-bottom: none !important

    >label
      &:after
        content: ""
        display: inline-block
        width: 0
        height: 0
        vertical-align: middle
        border-top: 4px solid #000
        border-right: 4px solid transparent
        border-left: 4px solid transparent
        position: relative
        top: -.3em

    .sol-container
      //position: absolute

    .sol-caret-container
      width: 100%
      height: 1.6em
      .sol-caret
        display: none

    .sol-inner-container
      position: inherit
      line-height: 0
      height: 0
      border: none
      width: 100%
      box-shadow: none
      .sol-input-container
        display: none

    .sol-active
      .sol-inner-container
        height: 30px
        .sol-input-container
          display: block
          //display: none
          position: inherit
          //line-height: 0
          //height: 0
          border: none

      .sol-current-selection
        //display: none
        position: inherit
        line-height: 0
        height: 0
        border: none

      .sol-selection-container
        width: 200px !important
        max-width: 350px
        border-color: black
        border-width: 0 1px 1px 1px
        position: absolute
        left: -1px !important /*to overcome styling added by SOL core*!*/
        top: 3em !important /*to overcome styling added by SOL core*!*/


  .sol-hide-search
    .sol-container
      .sol-inner-container
        position: inherit
        line-height: 0
        height: 0
        border: none
        width: 100%
        .sol-input-container
          //display: none
          position: inherit
          line-height: 0
          height: 0
          border: none
      .sol-selection-container
        top: 1.8em !important /*to overcome styling added by SOL core*!*/







//.sol-wrapper .form-item {
//  min-width: 250px;
//}
//
//body .views-exposed-form .sol-compact {
//  position: relative;
//  padding-top: 0;
//  max-width: 200px;
//}
//
//.sol-compact .form-item {
//  min-width: inherit;
//}
//
//.sol-compact .sol-caret-container {
//  width: 100%;
//  height: 1.6em;
//}
//
//.sol-compact .sol-caret-container .sol-caret {
//  position: absolute;
//  right: .4em;
//  left: auto;
//  top: .4em;
//
//}
//
//.sol-compact .sol-active {
///*min-width: 200px;*/
///*position: absolute;*/
///*left: 0;*/
///*top: 0;*/
//}
//.sol-compact .sol-input-container {
//  display: none;
//}
//
//.sol-compact .sol-active .sol-input-container {
//  display: block;
//  position: relative;
//}
//
//.sol-compact .sol-container.sol-active {
//  position: absolute;
//  left: 0;
//  top: 2em;
//
//}
//.sol-compact .sol-container.sol-active .sol-selection-container {
//  min-width: 200px;
//  position: relative;
//  left: auto !important; /*to overcome inline styling added by SOL core*/
//  top: auto !important; /*to overcome inline styling added by SOL core*/
//}
//.sol-compact .sol-container.sol-active .sol-input-container {
//  position: absolute;
//  top: 0;
//  left: 0;
//}
///*.sol-compact .sol-container.sol-active .sol-selection-container {*/
//    /*position: absolute;*/
//    /*min-width: 200px;*/
//    /*left: 0 !important; !*to overcome inline styling added by SOL core*!*/
//    /*top: 4em !important; !*to overcome inline styling added by SOL core*!*/
///*}*/
//
//.sol-compact .sol-inner-container {
//  position: inherit;
//  line-height: 0;
//  height: 0;
//  border: none;
//  width: 100%;
//}
//
//.sol-compact .sol-active .sol-inner-container {
//  line-height: 1em;
//  height: 1em;
//  border: none;
//}
//.sol-hide-search .sol-active .sol-inner-container {
//  position: inherit;
//  line-height: 0;
//  height: 0;
//  border: none;
//}
//.sol-hide-search .sol-active .sol-inner-container .sol-input-container {
//  display: none;
//}
//
//.sol-compact .sol-selection-container {
///*position: absolute;*/
///*left: 0 !important; !*to overcome styling added by SOL core*!*/
///*top: 2em !important; !*to overcome styling added by SOL core*!*/
//}
//
///*.sol-compact .views-widget {*/
//    /*position: absolute;*/
//    /*top: 0;*/
//    /*right: 0;*/
///*}*/