/* line 5, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact {
  position: relative;
  padding: 0;
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
}
/* line 14, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact.sol-open {
  border-radius: 10px 10px 0 0 !important;
  border-bottom: none !important;
}
/* line 19, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact > label:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: relative;
  top: -0.3em;
}
/* line 34, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-caret-container {
  width: 100%;
  height: 1.6em;
}
/* line 37, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-caret-container .sol-caret {
  display: none;
}
/* line 40, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-inner-container {
  position: inherit;
  line-height: 0;
  height: 0;
  border: none;
  width: 100%;
  box-shadow: none;
}
/* line 47, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-inner-container .sol-input-container {
  display: none;
}
/* line 51, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-active .sol-inner-container {
  height: 30px;
}
/* line 53, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-active .sol-inner-container .sol-input-container {
  display: block;
  position: inherit;
  border: none;
}
/* line 61, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-active .sol-current-selection {
  position: inherit;
  line-height: 0;
  height: 0;
  border: none;
}
/* line 68, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-compact .sol-active .sol-selection-container {
  width: 200px !important;
  max-width: 350px;
  border-color: black;
  border-width: 0 1px 1px 1px;
  position: absolute;
  left: -1px !important;
  top: 3em !important;
}
/* line 80, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-hide-search .sol-container .sol-inner-container {
  position: inherit;
  line-height: 0;
  height: 0;
  border: none;
  width: 100%;
}
/* line 86, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-hide-search .sol-container .sol-inner-container .sol-input-container {
  position: inherit;
  line-height: 0;
  height: 0;
  border: none;
}
/* line 92, ../sass/views_sol_filter.sass */
body .views-exposed-form .sol-hide-search .sol-container .sol-selection-container {
  top: 1.8em !important;
}
